<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" id="profilename" href="#">Social Media</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="#" data-component="my-posts">Home</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="#" data-component="all-posts">Explore</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="#" data-component="write-post">Write Post</a>
			</li>
		</ul>
		<form id="searchForm" class="form-inline">
			<input
				class="searchInput form-control mr-sm-2"
				type="search"
				placeholder="Search"
				aria-label="Search"
			/>
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">
				Search
			</button>
		</form>
		<div id="resultsContainer" style="display: none">
		</div>
		<div class="my-2 my-lg-0">
			<a class="nav-link" href="#">
				<span id="nav-username" data-component="my-posts"
					class="font-weight-bold nav-link secondary-text">username</span></a>
		</div>
	</div>
	<button display='inline' class="btn btn-outline-danger my-2 my-sm-0" type="submit" onclick="logout()">
		Logout
	</button>
</nav>
<script defer>
	$(".nav-link").click((ev) => {
	const component = ev.target.getAttribute("data-component");
	$("#body").load(`./components/${component}.html`);
});
</script>
<script defer>
	axios.post('/api/user/profile', {is_posts: false}).then(d => {
		console.log(d.data);
		d = d.data.data;
		
		let nameString = d.first_name + ' ';
		if (d.last_name && (d.last_name != 'null')) { 
			nameString += d.last_name;
		}
		document.getElementById('nav-username').innerText = nameString;
		// document.getElementById('profilename').innerText = nameString;
	});
	const logout = () => {
		axios.get('/api/user/logout').then(() => {
			window.open('/', '_self');
		});
	}
</script>
<script defer>
	$("#searchForm").submit(async (e) => {
		e.preventDefault();
		const resultsContainer = document.querySelector('#resultsContainer');
		const span = document.createElement('span');
		span.id = 'hideResultsContainer';
		span.innerHTML = '&#10060;';
		span.onclick = () => {
			resultsContainer.style.display = 'none';
		}

		$("#resultsContainer").empty();
		document.querySelector('#resultsContainer').appendChild(span);
		// $("#resultsContainer").append($(`<span id = "hideResultsContainer">&#10060;</span>`));


		const input = $(".searchInput")[0].value || '';

		if (input.length < 3) {
			return;
		}

		const { data: response } = await axios.get(`/api/user/search/${input}`);
		const users = response.data;

		if (users.length) {
			const resultsContainer = document.querySelector('#resultsContainer');
			resultsContainer.style.display = 'block';

			const usersElement = users.map(user => {
				$("#resultsContainer").append(
					$(`<div onclick=loadProfile(${user.user_id})>
						${user.username}
						<br />
						${user.first_name}
						</div>`)
					);
			});
		}
	});

 $('#hideResultsContainer').on('click', (e) => {
	 console.log('ajahvfdblj');
 });
	
</script>
<script src="./app/profile-page.js" />
